<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h3>Create Order</h3>

    <form th:action="@{/order/create}" th:object="${form}" method="post">
        <fieldset>
            <input type="submit" id="submitButton" th:value="Save">
            <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
            <table>
                <thead>
                <tr>
                    <th> Title</th>
                    <th> Product Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product, itemStat : *{products}">
                    <td th:text="*{products[__${itemStat.index}__].productName}"></td>
                    <td><input th:field="*{products[__${itemStat.index}__].productQuantity}" type="number" id="quantityInput" placeholder="Enter product' name"/></td>
                    <td><input th:field="*{products[__${itemStat.index}__].productId}" type="hidden" id="idInput" th:value="${product.productId}"></td>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <label for="author">Author</label>
        <input id="author" name="author" th:field="*{author}" required="required">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>