<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Info</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
</head>
<body>
<h1>Payment Criterias</h1>
<p>Voucher</p>
<ul>
    <li>The voucher code must be 16 characters long</li>
    <li>The voucher code must be started with “ESHOP”</li>
    <li>The voucher code must contain 8 numerical characters</li>
</ul>
<p>Bank Transfer</p>
<ul>
    <li>The bank name must not be empty</li>
    <li>The reference code must not be empty”</li>
</ul>

<div th:if="${admin!=null}">
    <a th:href="@{/payment/admin/list}" class="btn btn-info btn-sm">See Payment List</a>
</div>

<div th:if="${payment!=null}">
    <p th:text="${payment.id}"></p>
    <p>Method : <span th:text="${payment.method}"></span></p>
    <div th:if="${payment.method=='VOUCHER'}">
        <p th:text="${paymentinfo.voucherCode}"></p>
    </div>
    <div th:if="${payment.method=='BANK'}">
        <p th:text="${paymentinfo.bankName}"></p>
        <p th:text="${paymentinfo.referenceCode}"></p>
    </div>
        <div th:each="product : ${payment.order.products}">
            <p th:text="${product.productName}"></p>
            <p th:text="${product.productQuantity}"></p>
        </div>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th scope="col">Product Name</th>
            <th scope="col">Quantity</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${payment.order.products}">
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productQuantity}"></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:if="${admin!=null}">
    <form th:action="@{/payment/admin/set-status/{id}(id=${payment.id})}" method="post" >
        <input type="hidden" id="statusSuccess" name="status" value="SUCCESS">
        <button type="submit" name="delete" th:value="${status}">Success</button>
    </form>
    <form th:action="@{/payment/admin/set-status/{id}(id=${payment.id})}" method="post">
        <input type="hidden" id="statusReject" name="status" value="REJECTED">
        <button type="submit" name="delete" th:value="${status}">Reject</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>