<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Paid Order</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERd`knLPMO" crossorigin="anonymous">
</head>
<body>
<p>Payment ID <span th:text="${payment.id}"></span></p>
<p>Paid for <span th:text="${paymentinfo.orderId}"></span></p>
<p>Method : <span th:text="${paymentinfo.method}"></span></p>
<div th:if="${paymentinfo.method=='VOUCHER'}">
    <p th:text="${paymentinfo.voucherCode}"></p>
</div>
<div th:if="${paymentinfo.method=='BANK'}">
    <p th:text="${paymentinfo.bankName}"></p>
    <p th:text="${paymentinfo.referenceCode}"></p>
</div>
<p th:text="${paymentinfo.method=='VOUCHER'} ? ${paymentinfo.voucherCode} : ${paymentinfo.bankName}" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>