<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order History</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container my-2">
    <h2>Order Pay</h2>
    <form th:action="@{/order/pay/{id}(id=${order})}" th:object="${paymentinfo}" method="post">
        <fieldset>
            <p>Pay for <span th:text="${order}"></span></p>
            <p>Which one are you using?</p>
            <select th:field="*{method}">
                <option th:value="'VOUCHER'" th:text="voucher"></option>
                <option th:value="'BANK'" th:text="bank"></option>
            </select>
            <p>If using Voucher Payment</p>
            <input id="vouchercode" th:field="*{voucherCode}">

            <p>If using Bank Payment</p>
            <input id="referencecode" th:field="*{referenceCode}">
            <input id="bankname" th:field="*{bankName}">
        </fieldset>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>